<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="husky_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find husky_description)/urdf/husky_description.gazebo" />
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0140956979209418 -0.000138179701387094 -0.0992508085792652"
        rpy="0 0 0" />
      <mass
        value="3.12256189485822" />
      <inertia
        ixx="0.0121294723376015"
        ixy="3.6611140225149E-08"
        ixz="3.39923565764928E-05"
        iyy="0.0177212221964865"
        iyz="-2.45541012870126E-08"
        izz="0.0270281508517904" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="FR_Hip_Link">
    <inertial>
      <origin
        xyz="0.0166589553386252 0.00297993976212601 2.23624052146376E-05"
        rpy="0 0 0" />
      <mass
        value="0.0238624098048875" />
      <inertia
        ixx="5.6796289944201E-06"
        ixy="1.6833317677962E-07"
        ixz="1.26241368803341E-09"
        iyy="1.05772260570972E-05"
        iyz="1.87269823782473E-08"
        izz="8.08421986558341E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FR_Hip_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FR_Hip_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_H_F"
    type="revolute">
    <origin
      xyz="0.197786147802266 -0.0451303815618817 -0.153554926347478"
      rpy="-0.00751056345262528 0 0" />
    <parent
      link="base_link" />
    <child
      link="FR_Hip_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.0872665"
      upper="0.436332"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="FR_Thigh_Link">
    <inertial>
      <origin
        xyz="0.07823137365753 -0.0340532240073881 0.000803211738448883"
        rpy="0 0 0" />
      <mass
        value="0.258099968398277" />
      <inertia
        ixx="3.52616698113408E-05"
        ixy="-1.66844768574749E-09"
        ixz="-2.34493663880667E-08"
        iyy="7.68789476455668E-05"
        iyz="2.46856379158353E-09"
        izz="5.35248327001695E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FR_Thigh_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FR_Thigh_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_H_S"
    type="revolute">
    <origin
      xyz="0.0279999999999999 0 0"
      rpy="0.00751056345262547 0 0" />
    <parent
      link="FR_Hip_Link" />
    <child
      link="FR_Thigh_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.13446"
      upper="-0.436332"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="FR_Tibia_Link">
    <inertial>
      <origin
        xyz="-0.105065866384467 -0.00461856086308783 -0.06750708146745"
        rpy="0 0 0" />
      <mass
        value="0.0539315830575853" />
      <inertia
        ixx="2.20271311033782E-05"
        ixy="-8.58128240626144E-07"
        ixz="-2.04918236600125E-05"
        iyy="5.96884344420977E-05"
        iyz="-5.53593329656329E-07"
        izz="4.07620478941051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FR_Tibia_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FR_Tibia_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_T_K"
    type="revolute">
    <origin
      xyz="0.149499995520385 0 0"
      rpy="0 0 0" />
    <parent
      link="FR_Thigh_Link" />
    <child
      link="FR_Tibia_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0.733038"
      upper="1.8675023"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="FR_Foot_Link">
    <inertial>
      <origin
        xyz="0.0498806247417834 -0.0241020272480392 -0.0178185923611135"
        rpy="0 0 0" />
      <mass
        value="0.0716006180325176" />
      <inertia
        ixx="1.382005094306E-05"
        ixy="-9.04042828615244E-12"
        ixz="1.18194544732016E-05"
        iyy="4.65451923197461E-05"
        iyz="2.55234266488828E-12"
        izz="4.39714620714958E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FR_Foot_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FR_Foot_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_T_A"
    type="revolute">
    <origin
      xyz="-0.27175 0.015102 -0.17399"
      rpy="0 -0.4 0" />
    <parent
      link="FR_Tibia_Link" />
    <child
      link="FR_Foot_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.570963"
      upper="1.570963"
      effort="33.5"
      velocity="8.7267" />
    <mimic
      joint="FR_T_K"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="FL_Hip_Link">
    <inertial>
      <origin
        xyz="0.0166589553386255 -0.00298002366814985 1.90417676348975E-08"
        rpy="0 0 0" />
      <mass
        value="0.0238624098048877" />
      <inertia
        ixx="5.67962899442015E-06"
        ixy="-1.68337910434566E-07"
        ixz="1.88703735606119E-12"
        iyy="1.05773667226442E-05"
        iyz="1.69261090017549E-12"
        izz="8.0840792000366E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FL_Hip_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FL_Hip_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_H_F"
    type="revolute">
    <origin
      xyz="0.197786147802266 0.0448696184381173 -0.153554926347478"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FL_Hip_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.436332"
      upper="0.0872665"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="FL_Thigh_Link">
    <inertial>
      <origin
        xyz="0.0782313768124775 0.0340532240239729 -0.000802890141886031"
        rpy="0 0 0" />
      <mass
        value="0.258099968662267" />
      <inertia
        ixx="3.52616696197159E-05"
        ixy="1.66838371626373E-09"
        ixz="2.33742637493808E-08"
        iyy="7.68789477505795E-05"
        iyz="2.46853006266231E-09"
        izz="5.35248330028541E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FL_Thigh_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FL_Thigh_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_H_S"
    type="revolute">
    <origin
      xyz="0.0280000000000001 0 0"
      rpy="0 0 0" />
    <parent
      link="FL_Hip_Link" />
    <child
      link="FL_Thigh_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0.436332"
      upper="1.13446"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="FL_Tibia_Link">
    <inertial>
      <origin
        xyz="-0.105075825587496 0.00461849981637 -0.0674941933434928"
        rpy="0 0 0" />
      <mass
        value="0.0539315806550318" />
      <inertia
        ixx="2.20288670578511E-05"
        ixy="8.60228126288038E-07"
        ixz="-2.04926155902286E-05"
        iyy="5.96884389491682E-05"
        iyz="5.50328041951635E-07"
        izz="4.0760318327747E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FL_Tibia_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FL_Tibia_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_T_K"
    type="revolute">
    <origin
      xyz="0.14949999551506 0 0"
      rpy="0 0 0" />
    <parent
      link="FL_Thigh_Link" />
    <child
      link="FL_Tibia_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.8675023"
      upper="-0.733038"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="FL_Foot_Link">
    <inertial>
      <origin
        xyz="0.0498803256236964 0.0134999946773079 -0.0172232491896995"
        rpy="0 0 0" />
      <mass
        value="0.0716006180319317" />
      <inertia
        ixx="1.38204596942264E-05"
        ixy="-9.04039577313995E-12"
        ixz="1.18199758164081E-05"
        iyy="4.65451923195016E-05"
        iyz="2.55245075610104E-12"
        izz="4.39710533199317E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FL_Foot_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/FL_Foot_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_T_A"
    type="revolute">
    <origin
      xyz="-0.27175 -0.0045 -0.17458"
      rpy="0 2.1908 0" />
    <parent
      link="FL_Tibia_Link" />
    <child
      link="FL_Foot_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.570963"
      upper="1.570963"
      effort="33.5"
      velocity="8.7267"/>
    <mimic
      joint="FL_T_K"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="RR_Hip_Link">
    <inertial>
      <origin
        xyz="0.0166589553386252 0.00298002366814516 -1.90417685508315E-08"
        rpy="0 0 0" />
      <mass
        value="0.0238624098048877" />
      <inertia
        ixx="5.67962899442014E-06"
        ixy="1.68337910434561E-07"
        ixz="-1.88703744978195E-12"
        iyy="1.05773667226442E-05"
        iyz="1.69260988328871E-12"
        izz="8.08407920003659E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RR_Hip_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RR_Hip_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_H_F"
    type="revolute">
    <origin
      xyz="-0.197113852197734 -0.0451303815618833 -0.153404926347476"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RR_Hip_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.0872665"
      upper="0.436332"
      effort="33.5"
      velocity="8.7267"/>
  </joint>
  <link
    name="RR_Thigh_Link">
    <inertial>
      <origin
        xyz="0.0782313734898608 -0.034053224038266 0.000803224948594694"
        rpy="0 0 0" />
      <mass
        value="0.258099969136502" />
      <inertia
        ixx="3.52616698210797E-05"
        ixy="-1.66843081497276E-09"
        ixz="-2.3452481589572E-08"
        iyy="7.68789479923172E-05"
        iyz="2.46856586319707E-09"
        izz="5.3524833051181E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RR_Thigh_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RR_Thigh_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_H_S"
    type="revolute">
    <origin
      xyz="0.0279999999999999 0 0"
      rpy="0 0 0" />
    <parent
      link="RR_Hip_Link" />
    <child
      link="RR_Thigh_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.13446"
      upper="-0.436332"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="RR_Tibia_Link">
    <inertial>
      <origin
        xyz="-0.105065862869079 -0.00461850138692389 -0.0675070872970608"
        rpy="0 0 0" />
      <mass
        value="0.0539315825879713" />
      <inertia
        ixx="2.20271335769345E-05"
        ixy="-8.58128171571033E-07"
        ixz="-2.04918247126493E-05"
        iyy="5.96884341654846E-05"
        iyz="-5.53593341146132E-07"
        izz="4.07620451226912E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RR_Tibia_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RR_Tibia_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_T_K"
    type="revolute">
    <origin
      xyz="0.149499995520578 0 0"
      rpy="0 0 0" />
    <parent
      link="RR_Thigh_Link" />
    <child
      link="RR_Tibia_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0.733038"
      upper="1.8675023"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="RR_Foot_Link">
    <inertial>
      <origin
        xyz="0.0498806283679974 -0.0135000053224708 -0.0172223785041606"
        rpy="0 0 0" />
      <mass
        value="0.0716006180325222" />
      <inertia
        ixx="1.38200477748177E-05"
        ixy="-9.04037414394073E-12"
        ixz="1.181945043211E-05"
        iyy="4.65451923197481E-05"
        iyz="2.55232998769601E-12"
        izz="4.39714652397413E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RR_Foot_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RR_Foot_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_T_A"
    type="revolute">
    <origin
      xyz="-0.27175 0.0045 -0.17458"
      rpy="0 -0.4 0" />
    <parent
      link="RR_Tibia_Link" />
    <child
      link="RR_Foot_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.570963"
      upper="1.570963"
      effort="33.5"
      velocity="8.7267" />
    <mimic
      joint="RR_T_K"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="RL_Hip_Link">
    <inertial>
      <origin
        xyz="0.0166589553386253 -0.00298002366814985 1.9041766163852E-08"
        rpy="0 0 0" />
      <mass
        value="0.0238624098048876" />
      <inertia
        ixx="5.67962899442013E-06"
        ixy="-1.6833791043457E-07"
        ixz="1.88703738328454E-12"
        iyy="1.05773667226441E-05"
        iyz="1.69261090096281E-12"
        izz="8.08407920003657E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RL_Hip_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RL_Hip_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_H_F"
    type="revolute">
    <origin
      xyz="-0.197113852197734 0.0448696184381157 -0.153404926347476"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RL_Hip_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.436332"
      upper="0.0872665"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="RL_Thigh_Link">
    <inertial>
      <origin
        xyz="0.0782313769738834 0.0340532240486941 -0.000802890179051829"
        rpy="0 0 0" />
      <mass
        value="0.258099969300998" />
      <inertia
        ixx="3.52616696532939E-05"
        ixy="1.66843195434922E-09"
        ixz="2.3374277171292E-08"
        iyy="7.68789480604727E-05"
        iyz="2.46856867805387E-09"
        izz="5.35248332877278E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RL_Thigh_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RL_Thigh_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_H_S"
    type="revolute">
    <origin
      xyz="0.0279999999999999 0 0"
      rpy="0 0 0" />
    <parent
      link="RL_Hip_Link" />
    <child
      link="RL_Thigh_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0.436332"
      upper="1.13446"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="RL_Tibia_Link">
    <inertial>
      <origin
        xyz="-0.105075824411251 0.00461849974182806 -0.0674941928895348"
        rpy="0 0 0" />
      <mass
        value="0.0539315812388781" />
      <inertia
        ixx="2.20288672652186E-05"
        ixy="8.60228173550506E-07"
        ixz="-2.04926154156093E-05"
        iyy="5.96884392984058E-05"
        iyz="5.50327989730781E-07"
        izz="4.07603184971206E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RL_Tibia_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RL_Tibia_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_T_K"
    type="revolute">
    <origin
      xyz="0.149499995515122 0 0"
      rpy="0 0 0" />
    <parent
      link="RL_Thigh_Link" />
    <child
      link="RL_Tibia_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.8675023"
      upper="-0.733038"
      effort="33.5"
      velocity="8.7267" />
  </joint>
  <link
    name="RL_Foot_Link">
    <inertial>
      <origin
        xyz="0.0498803256236178 0.0134999946773832 -0.0172232491917698"
        rpy="0 0 0" />
      <mass
        value="0.0716006180319318" />
      <inertia
        ixx="1.38204596942734E-05"
        ixy="-9.04039575848348E-12"
        ixz="1.1819975816468E-05"
        iyy="4.65451923195017E-05"
        iyz="2.55245075476628E-12"
        izz="4.39710533198848E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RL_Foot_Link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_description/meshes/RL_Foot_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_T_A"
    type="revolute">
    <origin
      xyz="-0.27175 -0.0075 -0.17458"
      rpy="0 2.1908 0" />
    <parent
      link="RL_Tibia_Link" />
    <child
      link="RL_Foot_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.570963"
      upper="1.570963"
      effort="33.5"
      velocity="8.7267" />
    <mimic
      joint="RL_T_K"
      multiplier="-1"
      offset="0" />
  </joint>



  
</robot>
